---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

<h2>Projects</h2>
<ul>
  <li>
    <strong>Public Transportation Management System - Android App Development</strong><br>
    <em>Team Leader</em><br>
    Oct. 2024 - Dec. 2024<br>
    Led a team in developing a full-stack Android application for public transportation management, utilizing tools such as MySQL, Python, C++, and Qt Creator. Designed a low-redundancy relational database tailored to project needs, and implemented a user-friendly visual interface with strong human-computer interaction capabilities. Proposed a technical framework for lightweight management systems with similar structures, enabling easy expansion and portability across different use cases.
  </li>
</ul>

<h2>Awards</h2>
<ul>
  <li>
    <strong>Champion — Task 3 in AAAI2024 Workshop on AI for Digital Human, BDIV Lab</strong><br>
    Jan. 2024<br>
    <em>Multi-modal Learning for Audio-driven Talking Head Generation</em><br>
    <a href="https://www.kaggle.com/competitions/audio-driven-talking-head-generation/overview">[Competition Page]</a><br>
    Achieved top scores across four evaluation metrics in both video- and audio-based tracks. Modified SadTalker by removing PoseNet and redesigning ExpNet for direct 70D 3DMM prediction, enabling strategic trade-offs that improved key directional metrics. Enhanced realism via innovative blinking and lip-sync strategies using OpenFace and Hubert, improving non-English alignment and eye movement synthesis.
  </li>
</ul>

