---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %}

<h2>Under Review</h2>
<ul>
  <li>
    <strong>LES-Talker: Fine-Grained Emotion Editing in Linear Emotion Space</strong><br>
    <em>First Author</em><br>
    Under Review at ICCV 2025<br>
    <a href="https://peterfanfan.github.io/LES-Talker/">[Project Page]</a>
  </li>
  <li>
    <strong>EmoSpeaker: Emotion-Controlled Talking Face Generation</strong><br>
    <em>Co-author</em><br>
    Under Review at IEEE TMM<br>
    <a href="https://peterfanfan.github.io/EmoSpeaker/">[Project Page]</a>
  </li>
</ul>

<h2>Accepted</h2>
<ul>
  <li>
    <strong>KAN-Face: Efficient Resource Usage and Precision Lip-Sync</strong><br>
    <em>Co-author</em><br>
    Accepted at ICASSP 2025<br>
    <a href="https://ieeexplore.ieee.org/abstract/document/10888438">[Paper]</a>
  </li>
</ul>



